/*  your css code here. If applicable */

.page{
	display: flex;
	height: 100vh;
	width: 100vw;
}
.nav{
	background-color: #D7E8D4;
	width: 20%;
	padding: 1em;
}
.main{
	width: 80%;
}
.main>header{
	background-color: yellowgreen;
	height: 20%;
	padding: 1em;
}
.content{
	display: flex;
	height: 60%;
}
.content>article{
	width: 75%;
	padding: 1em;
}
.content>aside{
	width: 25%;
	background-color: beige;
	padding: 1em;
}
.main>footer{
	background-color: yellowgreen;
	height: 20%;
	padding: 1em;
}